extends layout

block content
  ul
  each rule in rules
   form(action='/delete', method='post')
    li= rule.ruleName
     input(type='hidden', name="id", value=rule._id)
     input(type='submit', value='Delete')
  form(action='/',method='post')
   fieldset(data-role='controlgroup')
    span
     label(for='title') Title
    span     
     select(name='title')
      each title in ['Select', 'Mr', 'Mrs', 'Miss']
       option(value=title,  selected=model.title==title) #{title}
   fieldset(data-role='controlgroup')
    span
     label(for='firstName') First Name
    span
     input(type='text', name='firstName' value=model.firstName)
   fieldset(data-role='controlgroup')
    span
     label(for='lastName') Last Name
    span
     input(type='text', name='lastName' value=model.lastName)
   p
   input(type='submit', value='Send')
   script.
    console.log('model', !{JSON.stringify(model)}, 'rule', !{JSON.stringify(rules)});
